h1 {
    color: rebeccapurple;
    text-align: center;
}

p {
    margin-bottom: 1.2em;
}

h1, h2, p, li {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

.line {
    border-bottom: 2px solid #D4AF37;
}