h1{
    color: rebeccapurple;
    text-align: center;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1.2em;
}
.line {
    border-bottom: 2px solid #D4AF37;
  }