* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Merriweather', serif;
    color: #4B2E83;
    text-align: center;
    font-size: 2rem;
    margin: 4rem auto;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #4B2E83;
}

p {
    font-family: 'Inter', serif;
    color: black;
}

/* navigation bar */

.logo img,
.profile {
    width: 50px;
    height: 50px;
    margin: 1rem 2rem;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger {
    width: 40px;
    height: 40px;
    margin: 1rem;
}

.navbar {
    padding: 1rem;
    margin: 0;
}

.navbar a {
    font-weight: 200;
    text-decoration: none;
    color: black;
    margin: 1rem 0.5rem;
    padding: 0.75rem 1rem;
    transition: all 0.15s ease-in-out;
    display: none;
}

.navbar a:hover {
    border-radius: 30px;
    background-color: #4B2E83;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    display: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container,
.hamburger-menu {
    position: relative;
    /* display: inline-block; */
    display: flex;
    align-items: center;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu.navbar a {
    border-radius: 20px;
    color: black;
}

.navbar-brand.admin-nav {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-brand.admin-nav:hover,
.navbar-brand.login-nav:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-brand.profile-nav:hover,
.navbar-brand.apply-nav:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-brand.mentors-nav:hover {
    border-radius: 0;
}

.dropdown-menu a {
    /* font-family: inherit; */
    text-decoration: none;
    font-size: 90%;
    color: black;
    display: block;
    padding: 1rem 0 1rem 0;
    margin: 0;
}

.profile-container:hover .dropdown-menu,
.hamburger-menu:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    padding: 1rem 0 1rem 0;
    background-color: #F3F3F3;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/* Home Page */
.home-page {
    width: 100%;
    min-height: 95vh;
    background-size: cover;
    background-position: center;
}

.home-page h1 {
    margin-top: 0rem;
    padding-top: 15rem;
}

.description {
    margin: 4rem;
}

.page-title {
    font-size: 3rem;
    text-align: center;
}

.uw-logo {
    height: 200px;
}

.mentor-graphic {
    height: 200px;
    width: auto;

}

.about-us-section img,
.become-mentor-section img {
    display: flex;
    /* margin: auto; */
    max-width: 100%;
    /* Ensure the image doesn't exceed the container's width */
    margin: 0 auto;

}

.become-mentor-section {
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
}

.become-mentor-section,
.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.homepage h1 {
    margin-top: 20vh;
}

.home-page {
    background-image: url('../public/img/uw.jpg');
    background-size: cover;
    background-position: center;
}

.home-page .btn {
    width: 8rem;
    margin-right: 1rem;
}

/* Application form (Mentor + Sign Up) */

.row {
    display: flex;

}

/* margin 2rem */
.application-form,
.appointment-form,
.login-form,
.mentor-preview {
    margin: 2rem;
}

.application-form {
    margin: 2rem 16rem;
}


.required {
    color: red;
}

.submit,
.form-label {
    font-family: 'inter', serif;
}

.submit,
.btn-primary,
.more-info-btn,
.appt-btn,
.reset-btn {
    background-color: #4B2E83;
    color: white;
    /* border-color: #4B2E83; */
    border-color: white;
}

.submit {
    display: flex;
    padding: .8rem;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}

.submit:hover {
    background-color: lightgrey;
}

.form {
    margin: .5rem 8rem;
}

.form-label {
    margin-bottom: .5rem;
}

.form-control,
.form-select {
    margin-bottom: 2rem;
}

.form-control,
.form-select,
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.col-6 {
    flex: 0 0 48%;
    max-width: 48%;
    margin-right: 1rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.form-select {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.login-p,
.mentor-page-description {
    text-align: center;
}

/* mentors page */
.btn-primary:hover,
.more-info-btn:hover,
.appt-btn:hover,
.search-btn,
.apply-filter-btn {
    background-color: #846db0;
    color: white;
    border-color: #846db0;
}

.dropdown button {
    background-color: white;
    color: black;
    border-color: black;
}

.search-btn:hover,
.apply-filter-btn:hover {
    background-color: #b7a7d4;
    color: white;
    border-color: #b7a7d4;
}

.more-info-btn {
    margin-bottom: 0.25rem;
}

.mentor-title {
    margin-bottom: 1rem;
}

.mentor-page-description {
    margin: 0rem 1.5rem;
}

.mentor-content {
    margin: 0rem 1.5rem 1rem 1.5rem;
    justify-content: flex-start;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.search-bar input {
    margin-bottom: 0.5rem;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.filters select {
    margin-bottom: 0.5rem;
}

.mentor-cards {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.mentor-name {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.mentor-info {
    line-height: 1em;
    text-align: center;
}

.mentor-description {
    padding-top: 1em;
    margin-bottom: 1.5rem;
    text-align: left;
}

.info-label {
    font-weight: 900;
    color: #4B2E83;
}

.showing-results {
    text-align: right;
    padding-right: 1.5rem;
    font-size: 1.25rem;
}

.select-options {
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.reset-btn {
    display: flex;
    margin-top: 2rem;
}

/* mentor preview page */
.mentor-preview-name {
    margin: 1rem 2rem 0;
}

.mentor-preview img {
    display: flex;
    width: 350px;
    height: auto;
    align-items: center;
    align-content: center;
    margin: auto;
}

.mentor-preview-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}

.back-to-mentors-btn.btn-link{
    margin: 1rem 2rem;
    display: flex;
    justify-content: left;
    color: #7156a5;
}

.back-to-mentors-btn:hover {
    color: #4B2E83;
}


/* Admin Approval */
.table-style {
    margin-left: 8rem;
    margin-right: 8rem;
}

/* profile */

.profile-page {
    margin-left: 8rem;
    margin-right: 8rem;

}

.special-title {
    font-size: 1.5rem;
}

.upcoming-meetings {
    margin-top: 2rem;
}

.bio {

    flex-direction: row;
}

.about-me-all {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 4rem;

}

/* Choose Role */

.role-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btn.role {
    padding: 3rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-color: #4B2E83;

}

.btn.role:hover {
    border-color: #4B2E83;


}

.btn-check:checked+.btn {
    background-color: #4B2E83;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-check:checked+.btn img,
.btn-check:checked+.btn p {
    filter: invert(1);

}

.btn.role img {
    width: 100px;
    margin: 1rem;
}

.btn.role p {
    font-weight: bolder;
}

.btn-link {
    color: #4B2E83;
    display: flex;
    justify-content: center;
}


/*media queries */
@media (min-width: 560px) {
    .select-options {
        flex-direction: column;
    }
}

@media (min-width: 598px) {

    /* appointment form */
    .appointment-form h1 {
        font-size: 1.5rem;
    }

    .form-control,
    .form-select,
    textarea {
        padding: 0.75rem;
    }

    .navbar a {
        display: block;
    }

    /* hamburger-menu */
    .hamburger-menu {
        display: none;
    }

    /* profile */
    .bio {
        margin: 0;
    }

    .about-me-all {
        display: flex;
        flex-direction: column;
    }

    /* home page */
    .page-title {
        font-size: 5rem;
    }

    /* mentor preview */
    .mentor-preview-info {
        margin-top: 0;
        text-align: left;
    }
}

@media (max-width: 598px) {
    /* make navbar disappear */
}

@media (min-width: 768px) {

    /* appointment form */
    .appointment-form h1 {
        font-size: 2rem;
    }

    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .bio {
        margin-left: 2rem;
    }


    /* profile page */
    .extra-info {
        font-size: medium;
        margin-top: 0;
    }

    .about-me-all {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .description {
        margin: 8rem;
    }

    /* mentors */
    .mentor-info {
        line-height: 1.5em;
    }

    .select-options {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    .select-options select {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .apply-filter-btn {
        width: 75%;
    }

    .reset-btn {
        align-self: center;
    }

    .mentor-content {
        display: flex;
    }

    .search-bar {
        margin-bottom: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .filters {
        margin-top: 3rem;
    }

    .search-bar input,
    .filters select {
        margin-bottom: 0.5rem;
    }

    /* mentor preview */
    .mentor-preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 2rem 4rem;
    }

    .mentor-preview img {
        justify-content: end;
        display: block;
        margin: auto;
        margin-right: 1rem;
        justify-content: center;
        align-items: center;
    }

    .mentor-preview-info {
        margin-left: 2rem;
    }

    .mentor-preview .appt-btn {
        width: 100%;
    }
}


@media (min-width: 992px) {

    /* hover over mentor cards
    source: https://www.youtube.com/watch?v=KAHjf1Xj0SU */
    .card {
        transition: all 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    /* profile */
    .extra-info {
        font-size: large;
    }

    .about-me-all {
        display: flex;
        justify-content: space-evenly;
    }

    /* mentors */
    .filters {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .apply-filter-btn {
        width: 100%;
    }

    .search-bar {
        display: flex;
    }

    .search-bar input {
        margin-top: 1.45rem;
    }

    /* mentor preview */
    .mentor-preview .appt-btn {
        width: 50%;
    }

    .mentor-preview img {
        margin-right: 2rem;
    }
}